<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://play-lh.googleusercontent.com/JRd05pyBH41qjgsJuWduRJpDeZG0Hnb0yjf2nWqO7VaGKL10-G5UIygxED-WNOc3pg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PUBG</h5>                      
                          <a href="#" class="btn btn-danger">BUY GAME</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dl.dir.freefiremobile.com/common/web_event/hash/260ed198122f40060f3724d78e3b3413jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">FREE FIRE</h5>                      
                          <a href="#" class="btn btn-danger">BUY GAME</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.king.com/images/share/banners/candycrush.png?_v=kmoqjd" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">CANDY CRUSH</h5>                      
                          <a href="#" class="btn btn-danger">BUY GAME</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://i.ytimg.com/vi/9aK2zoFBbKY/maxresdefault.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">TEMPLE RUN</h5>                      
                          <a href="#" class="btn btn-danger">BUY GAME</a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/M/MV5BMzllN2IwYzEtODZhNC00ODRkLWE2ZmUtODdiOTU2YjZlZTk0XkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SUBWAY SURFERS</h5>                      
                          <a href="#" class="btn btn-danger">BUY GAME</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>